body{
	font-family: verdana;
	margin:0;
	padding: 0;
}
#main{
	width:1200px;
	Height:auto;
	border: 5px solid cadetblue;
	margin:10px auto;
	background:aquamarine;
}
h2{
	padding:20px;
	background-color:cadetblue;
	color: snow;
	text-align: center;
}
ul{
	list-style:none;
	padding: 0;
	margin-left:70px;
	margin-top: 0;
}
ul li{
	background:#c71;
	width:300px;
	float: left;
	border:1px solid white;
	height:50px;
	text-align: center;
	line-height:50px;
}
ul li a {
	text-decoration:none;
	color:white;
	display:block;
	position:relative;
	
}
ul li:hover {
		background-color:grey;

}
ul ul {
	display:none;
	position:relative;
}
ul li:hover ul{
	display:block;
	visibility:auto;
	margin:0;
}
 
#div1{
		width:800px;height:400px;
		float:left;
		background:skyblue;
		overflow:auto;
		margin-left:75px;
}

#div2{
		width:400px;height:400px;
		float:left;
		background:cadetblue;
		overflow:auto;
}

#div3{
		width:1200px;height:auto;
		float:left;
		background:cadetblue;
		overflow:auto;
		margin-left:75px;
}





























